<div class="container">
  <!-- <div class="row">
    <h3>Hola mi nombre es {{nombre}}</h3>
    <h3>La suma entre 10 y 15 {{getSuma(10, 15)}}</h3>                     /* Se utiliza la interpolacion*/
    <br>
    <input type="text" class="form-control" [placeholder]="textoPlaceholdfer" [disabled] = "deshabilitado">                  /* Se utiliza el property binding*/
    <br>
    <img [src]="img" alt="img" width="300px" height="600px">
  </div> -->

  <!-- <h3>{{texto}}</h3>
  <br>
  <button class="btn btn-primary" (click)="cambiarTexto()">Click Me</button>              /* Se Utiliza el Event binding*/
-->

  <!-- <input type="text" class="form-control" placeholder="Escriba algo aquí" [(ngModel)]="texto">      /* Se utiliza el two way data binding*/
  <br>
  {{texto}} -->

  <!-- En esta Lista se utilizan las directivas *ngFor , *ngIf , *ngStyle , *ngClass ,  -->

  <div class="container mt-4">
    <div class="row">
      <h3>Listado de estudiantes</h3>
    </div>
    <br>
    <table class="table" *ngIf="listEstudiantes.length > 0">
      <thead>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of listEstudiantes; let i = index" [ngSwitch]="estudiante.estado">
          <td>{{i + 1}}</td>
          <td>{{estudiante.nombre}}</td>
          <td>
            <!-- <span [ngClass]="estudiante.estado === 'Promocionado' ? 'badge bg-success' : 'badge bg-secondary'">{{estudiante.estado}}</span> -->
            <span *ngSwitchCase="'Promocionado'" class="badge bg-success">
              {{estudiante.estado}}
            </span>
            <span *ngSwitchCase="'Regular'" class="badge bg-secondary">
              {{estudiante.estado}}
            </span>
            <span *ngSwitchCase="'Libre'" class="badge bg-danger">
              {{estudiante.estado}}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="listEstudiantes.length === 0">No hay registros para mostrar</h3>
  </div>


</div>
